@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aereal Company</h1>
    <p>Comprometidos Con la Aviacion</p>
</div>
@{

    <h2 class="row justify-content-center ">Sobre Nosotros</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h2>Objetivos</h2>

            <p>Nuestra misión es proporcionar experiencias de viaje aéreo excepcionales, conectando a personas y lugares de manera segura y eficiente.</p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Visión</h2>

            <p> Aspiramos a ser líderes en la industria de viajes aéreos, ofreciendo servicios innovadores y superando las expectativas de nuestros clientes en todo momento.</p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Historia</h2>

            <p>Desde nuestro inicio, hemos trabajado incansablemente para proporcionar vuelos de alta calidad, construyendo una historia de confianza y compromiso con la satisfacción del cliente</p>
        </div>
    </div>
}

